.cell{
    display: flex;
    width: 3vw;
    height: 5vh;
    border: 1px solid blue;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background-color: rgba(179, 179, 223, 0.295);
}